md-dialog
    md-toolbar
        .md-toolbar-tools
            h2(flex) Action
            span(flex)
            md-button.md-icon-button(ng-click='closeEdit()')
                md-icon close
    md-dialog-content.action-panel
        md-content()
            form(name='productEditForm')
                md-content.md-padding(layout='column')
                    h6(ng-if="action.status = 'Active'", flex) 
                        {{action.status}}, Times delayed: {{action.delayedCount}}
                    md-input-container.md-block()
                        label Action
                        input(ng-model='action.title' required="", name="productname")
                        div(ng-messages="productEditForm.productname.$error")
                            div(ng-message="required") Action description is required.
                    md-input-container
                        label Context
                        md-select(ng-model='selectedContext', md-selected-text='getSelectedContext()')
                            md-optgroup(label='Contexts')
                                md-option(ng-repeat='context in contexts' ng-value='context') {{context}}
                    md-input-container
                        label Project
                        md-select(ng-model='selectedProject', md-selected-text='getSelectedProject()')
                            md-optgroup(label='Projects')
                                md-option(ng-repeat='project in projects' ng-value='project') {{project}}
                    md-input-container.no-margin
                        label Defer
                        md-datepicker(ng-model="defer" name="dateField" md-hide-icons="calendar")
                    md-input-container.no-margin
                        label Due
                        md-datepicker(ng-model="due" name="dateField" md-hide-icons="calendar")
                    md-input-container.md-block()
                        label Note
                        input(ng-model='action.note')
                    md-input-container.md-block()
                        label Tasktime in minutes
                        input(ng-model='action.tasktime')
                    md-input-container.md-block()
                        label Desired Outcome
                        input(ng-model='action.desire')
                    md-input-container.md-block()
                        label Value to complete
                        input(ng-model='action.value')
                    md-input-container.md-block()
                        label Priority
                        input(ng-model='action.priority')
                    md-input-container.md-block()
                        label Urgent
                        input(ng-model='action.urgent')
                    md-input-container.md-block()
                        label Flag
                        input(ng-model='action.flagged')
                    md-input-container.md-block()
                        label Recures
                        input(ng-model='action.recures')
                    div(layout='row' layout-align="end center" flex="100")
                        md-button.md-raised.md-primary(ng-click="createAction()" type='submit' ng-disabled="productEditForm.$invalid" ng-if="mode=='create'") Create
                        md-button.md-raised.md-primary(ng-click="editAction()" type='submit' ng-disabled="productEditForm.$invalid" ng-if="mode!='create'") Update 